## LOOPS ##

#### Loops are structures again and again according to certain operation,rule and range. ####

#### Loops are created with 'for and while' keywords. ####

In [4]:
n=10
while n>0:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [5]:
n=15
while n>0:
    print(n)                     #You pay attention that ıt contain '0'.
    n=n-1                        #There is '0' due to writing 'print(n)' after 'n=n-1.
print(n)                         #'n=n-1'is a stop condition.

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [1]:
# a=15
# while a>0:
  #print(a)                  #We change 'a>0' or 'a=a+1 because this definatıons do not stop the loop.
    #a=a+1

#### What are the squares of numbers from 5 to 125. ####

In [2]:
k=1
while k<=10:
    if k % 2 == 0:
        print(k**2)
    k=k+1

4
16
36
64
100

#### What are odd numbers smaller than 10. ####

In [3]:
k=1
while k<=10:
    if k%2==1:
        print(k**2)
    k=k+1

1
9
25
49
81

#### What are numbers divisible 2 by 5 and then what are the square of them. ####

In [4]:
k=1
while k<=20:
    if k%2==0 and k%5==0:
        print(k**2)
    k+=1

100
400

### FOR LOOP ###

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### You write the number in twos from 2 to 10. ####

In [6]:
for a in range(2, 10, 2):
    print(a)

2
4
6
8

#### You ask anyone and then factorize that number. ####

In [8]:
number=int(input('enter a number'))
for i in range(2, number):
    if number%i==0:
        print(i)

enter a number5

#### Let's we write the number back in twos from 20 to 1. ####

In [9]:
for i in range(20, 1, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [10]:
for i in range(20, 1, -1):
    if  i%2==1:
        print(i)

19
17
15
13
11
9
7
5
3

#### What are numbers divisible 2 by 5. ####

In [11]:
for i in range(20, 1, -1):
    if i%2==0 and i%5==0:
        print(i)

20
10

#### May run on the text with 'for loop' ####

In [12]:
text='machine'
for t in text:
    print(t)

m
a
c
h
i
n
e

#### We ask someone to write a text and add it '-'symbol. ####

In [14]:
text=input('wirte a new text')
new_text=''
for t in text:
    new_text+=t+'-'
print(new_text)

wirte a new text12
1-2-

In [15]:
text='machine learning'
new_text=''
for t in text:
    new_text+=t+'/'
print(new_text)

m/a/c/h/i/n/e/ /l/e/a/r/n/i/n/g/

### Len Function ###

#### In some data structures,to calculate for length we use the 'len' function. ####

In [16]:
len('machine learning')               #string

16

In [17]:
len({1, 5, 15, 4})

4

In [19]:
text=input('please write a text')
lenght=len(text)
print(lenght)

please write a textHELLO AI
8

### Enumerate Function ###

#### While we are in 'for',we sometimes need current intex. ####

In [20]:
for intex, t in enumerate('machine'):
    print(intex)        #Our text consist sixteen character.The latest character is named as one missing number of total number.

0
1
2
3
4
5
6

#### We delete that we think unnecessary character. ####

In [22]:
text=input('write a text')
new_text=''
for intex, t in enumerate(text):
    new_text +=t
    if intex<len(text)-1:
        new_text+='-'
print(new_text)

write a textHELLO-AI
H-E-L-L-O---A-I

#### You write the number in fives from 2 to 10 and what is the sixth number. ####

In [23]:
for s in range(10, 100, 5):
    print(s)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [24]:
for index, t, in enumerate(range(10, 100, 5)):      
    if index==5:
        print(t)

35

### Nested Loops ###

In [27]:
for row in range(10):
    star=''
    for column in range(10):
        star +='*'
    print(star)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

### Break Keyword ###

#### Sometimes we need to exit the loop incompletely,in that time may use 'break' keyword. ####

#### We ask someone to write a text and then write the alphabet of the text ıf there is ' ', it break into the loop. ####

In [ ]:
text=input('write a text:  ')
for t in text:
    if t==' ':
        break
    print(t)

#### We write the number from 10 to 30 that be multiple 7.If there is any number,at that time it exit this loop. ####

In [ ]:
for x in range(10, 30):
    if x%11==0:
        print(x)
        break

### Continue Keyword ###

#### Sometimes ın any loop,if the condition is true,with 'continue' keyword pass the this iteration and need to run next iteration. ####

#### You write to be even numbers from 1 to 10 with 'continue'. ####

In [ ]:
for z in range(1, 11):
    if z%2==1:
        continue
    print(z)

#### We ask someone to write a text and then write the alphabet of the text ıf there is ' ', pass it and continue. ####

In [ ]:
text=input('write a text')
for m in text:
    if m==' ':
        continue
    print(m)

### For-Else Loop ###

#### Sometimes we have to do check any 'for'loop correctly,in that time we use 'for-else' ####

#### We write the number from 10 to 30 that be multiple 7.If the loop runs correctly, you wirte it on screen.  ####

In [ ]:
for s in range(2, 101):
    if s%7==0:
        break
        print(s)
else:
    print('correctly')
print(s)