## FUNCTIONS ##

#### A specail piece of code was written to perform a certain functÄ±on.Functions are able to run when you calling.Functions prevent to write code again.  ####

In [266]:
number='32,80'       # We define a function 'number'

In [195]:
type(number)        #Type is defined funtion on Python

str

In [196]:
str(number)         #str is defined funtion on Python

'32,80'

### Math Function ###

#### We use to math the module, We write'import' to active on the Python. ####

In [197]:
import math

#### There is 'help' feature to inform us about defined the modules. ####

In [198]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

#### We import any function in the module with '.' .####

In [199]:
math.sin

In [200]:
math.pi

3.141592653589793

#### What meter is perimeter of the circle that is the radian 10. ####

In [201]:
r=10
perimeter=2*math.pi*r

In [202]:
print(perimeter)

62.83185307179586

#### Let's calculate the sÄ±nux of 30 degree. ####

In [203]:
degree=30
radians=math.radians(degree)

In [204]:
print(radians)

0.5235987755982988

In [205]:
sin=math.sin(radians)
print(sin)

0.49999999999999994

In [206]:
cos=math.cos(radians)
print(cos)

0.8660254037844387

#### Let's calculate the area of the cycle ####

In [207]:
area=2*math.pi*r**2

In [208]:
print(area)

628.3185307179587

### Function Chain ###

#### If we want to calculate in one step,must be chain these functions. ####

#### Step 1 :Defining functions ####

In [209]:
def function_names():
    print('first function')

#### Step 2:Calling functions ####

In [210]:
function_names()

first function

#### The knowledge of the students ####

In [211]:
print('name:john Kernel')
print('age:15')
print('school:Newyork Univercity')

name:john Kernel
age:15
school:Newyork Univercity

#### Step 1.1:Defining functions without parametres ####

In [212]:
def student_name():
    print('name:john Kernel')
def student_age():
    print('age:15')
def student_school():
    print('school:Newyork Univercity')

#### Step 2.2:Calling functions ####

In [213]:
student_name()
student_age()
student_school()

name:john Kernel
age:15
school:Newyork Univercity

#### Step 3:Let's write all the knowledge the students ####

In [214]:
def student_knowledges():
    student_name()
    student_age()
    student_school()

In [215]:
student_knowledges()

name:john Kernel
age:15
school:Newyork Univercity

In [216]:
type(student_knowledges)         #So As you see,'Student knowledges ' is a function that we defined.

function

#### If we want to write 'student name' as 'student_firstname' and 'student_second_name'. ####

In [217]:
def student_firstname():
    print('john')
def student_secondname():
    print('Kernel')

In [218]:
def student_name():
    student_firstname()
    student_secondname()

In [219]:
student_knowledges()

john
Kernel
age:15
school:Newyork Univercity

### Parametres ###

#### Mostly functions need parameters and parametres are inputs thah transfer themselves to run for functions. ####

#### I want to write a function that squared the numbers. ####

In [220]:
def square_write(number):           
    square=number**2                       #Number is a parameter.
    print(square)

#### Let's call this function with a paremeter. ####

In [221]:
square_write(5)

25

In [222]:
square_write(111)

12321

#### Now,Let's write a function with two parameters. ####

In [223]:
def rectangle_calculate(short_cm, long_cm):
    calculate=short_cm * long_cm
    print(calculate)

In [224]:
rectangle_calculate(4, 6)

24

In [225]:
rectangle_calculate(5, 125)

625

#### If we do not know the number of the parameters,what happen ? ####

#### In this case,we use '*arqs' as parameter. ####

In [226]:
def sum(*arqs):
    print(arqs)

In [227]:
sum(1,2,3,4)

(1, 2, 3, 4)

In [228]:
sum(88,125,4596,949,74,11)

(88, 125, 4596, 949, 74, 11)

In [229]:
def parameters(*arqs):
    print(arqs)

In [230]:
parameters('a', 88, True)                  #We can define as any type parameters.

('a', 88, True)

### Lambda Expression ###

#### Sometimes we want to use without name directly.Here's we use 'Lambda Expression'. ####

#### Let's define a lambda functions that doing aggregate. ####

In [231]:
sum=lambda x,y : x+y

In [232]:
sum(5,8)

13

In [233]:
d=lambda x,y,z : (x/y)**z

In [234]:
d(4,5,6)

0.2621440000000001

In [235]:
exp= lambda a,b : a**b

In [236]:
exp(4,8)

65536

#### Function returning functions ####

In [237]:
def parameters2(n):
    return lambda a : a*n

In [238]:
first=parameters2(1)

In [239]:
first(5)

5

### Nested Function ###

#### If need to define another function into the funtion; ####

#### Exp:Is any number common multiple of the 10 and 5. ? ####

In [240]:
def Ä±smultiple(n):
    def five_multiple(n):
        if n%5==0:
            return True
        else:
            return False
    def ten_multiple(n):
        if n%10==0:
            return True
        else:
            return False
    if five_multiple(n) and ten_multiple(n):
        return True
    else:
        return False

In [241]:
Ä±smultiple(44)

False

In [242]:
Ä±smultiple(824852486150)

True

#### May we write 'student_knowledges' with paremeters ####

In [243]:
def student_knowledges(firstname, secondname, age, school):
    student_firstname(firstname)  
    student_secondname(secondname)
    student_age(age)
    student_school(school)

In [244]:
def student_firstname(firstname):       
    print(firstname)
def student_secondname(secondname):
    print(secondname)
def student_age(age):
    print(age)
def student_school(school):
    print(school)

In [245]:
firstname='maria'
secondname='kernelness'
age='25'
school='high school'

In [246]:
student_knowledges(firstname, secondname, age, school)

maria
kernelness
25
high school

In [247]:
firstname='ayÅe'
secondname='yÄ±lmaz'
age='05'
school='ilkÃ¶Äretim'

In [248]:
student_knowledges(firstname, secondname, age, school)

ayÅe
yÄ±lmaz
05
ilkÃ¶Äretim

### Return Value ###

#### A return statement is used to end the execution of the function call and âreturnsâ the result (value of the expression following the return keyword) to the caller. ####

#### A number can been given us as a parameter that we calculate its cube and is being asked writing as return statement. ####

In [249]:
def cube(n):
    n_cupe=n**3
    return n_cupe

In [250]:
cube(5)

125

In [251]:
cube(11)

1331

In [252]:
cube1=cube(5)                # We defined a function as a value.
print(cube1)

125

In [253]:
cube2=cube(4)
print(cube2)

64

In [254]:
n=6
print(cube(88))

681472

* It is 'Void' function that don't return the statement.

In [255]:
import math

In [256]:
def circle(r):
    x=math.pi * r ** 2            # We define this function with return.
    return x

In [257]:
circle_area = circle(5)             # We give the value to the function we defined.
print(cycle_area)

78.53981633974483

In [258]:
circle_area = circle(11)           
print(cycle_area)

78.53981633974483

#### 'a ' is the temporary variable that is purpose to give to return.However I do not want to use the this valiable. ####

In [259]:
def circle(r):
    return math.pi * r **2

In [260]:
circle_area = circle(11)                # You please take care us the same result.
print(circle_area)

380.132711084365

### Develop step by step ###

#### Exp:Lenght between two points. ####

In [261]:
def length(x1, y1, x2, y2):   # 1-We defined this function with four parameters
    dx=x2-x1                  # 2-Firstly we must subtract among X values and again Y values
    dy=y2-y1
    sum=(dx**2)+(dy**2)       # 3-let's continue now,square and sum this dx and dy according the formula.
    return math.sqrt(sum)     # 4-Finally may we returns the square root.
                              # You please consider that all progress (step 1,2,3...) are written according to pisagor theory.

In [262]:
length(5, 7, 4, 11)

4.123105625617661

In [263]:
length(9, 4, 3, 2)

6.324555320336759

### Using the functions together ###

#### Exp:the area of circle passing two points ####

In [264]:
def circle_twopoints(x1, y1, x2, y2):              
    r=length(x1, y1, x2, y2)                  # We defined this function with four parameters  
    area=math.pi*r**2                         # The previous function 'lenght(x1, y1, x2, y2)' to define to the 'r'.
                                              # We define 'area' that 
    return area

In [265]:
circle_twopoints(1, 5, 4, 6)

31.41592653589794